@import "bootstrap";

.navbar {
	background-color: #87B919;
}

h1 {
	text-align: center;
	fonty-family: Arial;
}

h2 {
	text-align: center;
	fonty-family: Arial;
}

h3 {
	text-align: center;
	fonty-family: Arial;
}